{% extends 'base_unlogged.html.twig' %}

{% block body %}
<h1 style="text-align: center; color: white; margin-top: 5em">Verify your e-mail</h1>
<p style="text-align: center; color: white">Confirmation e-mail was sent to the inbox you have passed in registration form. Go to your inbox and confirm your e-mail adress</p>
{% endblock %}