{% extends 'base_unlogged.html.twig' %}

{% block body %}
<h1 style="text-align: center; color: white; margin-top: 5em">Your e-mail was confirmed successfully</h1>
<p style="text-align: center; color: white">Now your account is active. You can log in and start using website</p>
{% endblock %}